.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 300px) {
    height: 100vmax;
  }
  @media (min-width: 600px) {
    height: inherit;
    padding-top: 2rem;
  }
  &__image {
    width: 160px;
    height: 220px;
    background-color: $sec;
    margin-bottom: -8rem;
    z-index: 1;
    border-radius: 2rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  &__content {
    border-radius: 1rem;
    width: 320px;
    // height: 420px;
    background-color: $tri;
    padding-top: 8rem;
    text-align: center;
    line-height: 2rem;
    & p:nth-child(1) {
      margin-top: 1rem;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
    }
    & p:nth-child(2) {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0em;
      color: #f021cf;
      line-height: 20px;
    }
    & p:nth-child(3) {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
    }
    & p:nth-child(4) {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 500;
    }
    & p:nth-child(5) {
      color: #ea638c;
      font-weight: 600;
    }
    &--appear {
      & span {
        color: #f021cf;
        font-weight: 500;
      }
    }
    &--season {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 2rem;
      & span {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-color: $pri;
        border-radius: 6px;
      }
    }
  }
}
